%table.table.table-striped
	%tr
		%td
			%table
				%tr.success
					%td= @invoice.customer.organization_name
	%tr
		%td
			%table
				-@invoice.invoice_groups.each do |grp|
					%tr.info
						%td= grp[:name]
						%td
						%td= grp[:description].upcase
						%td
					%tr
						%td
						%td
						%td
							%table
								-grp.invoice_lines.each do |line|
									%tr
										%td= line[:name].capitalize
										%td
											= "Count: #{line[:count]}" if line[:count].present?
										%td= line[:description]
										%td
										%td= format_pennies(line[:line_total])
					%tr.success
						%td= "Sub Total"
						%td
						%td
						%td= format_pennies(grp.total)
	%tr.error
		%td= "TOTAL:"
		%td= format_pennies(@invoice.total)
		%td
		%td