%table
	%tr
		%td
			%table
				%tr
					%td= @invoice.customer.organization_name
	%tr
		%td
			%table
				-@invoice.invoice_groups.each do |grp|
					%tr
						%td= "RRRRR #{grp.name}"
						%td= grp.description
						%td
						%td
					%tr
						%td
						%td
						%td
							%table
								-grp.invoice_lines.each do |line|
									%tr
										%td= line.name
										%td= "Count: #{line.count}"
										%td= line.description
										%td
										%td= format_pennies(line.line_total)
					%tr
						%td= "Sub Total"
						%td
						%td
						%td= format_pennies(grp.total)
	%tr
		%td= format_pennies(@invoice.total)