= form_for @cloud9_cost do |f|
  - if @cloud9_cost.errors.any?
    #error_explanation
      %h2= "#{pluralize(@cloud9_cost.errors.count, "error")} prohibited this cloud9_cost from being saved:"
      %ul
        - @cloud9_cost.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
