%p#notice= notice

%h3= "#{@cloud9_customer.organization_name} (#{@cloud9_customer.cloud9_identifier.upcase})"

%table.table-bordered.table-hover
    %tr.success
        %td
            %strong= "Contacts"
        %td
            %strong= "Systems"
        %td
            %strong= "Products"
    %tr
        %td
            %table
                %tr
                    %td
                        %ul
                        - @cloud9_customer.contacts.each do |con|
                            %li= con.display_name
        %td
            %table
                %tr
                    %td
                        %ul
                        - @cloud9_customer.systems.each do |sys|
                            %li=link_to sys.vm, system_path(sys), :class => 'btn btn-mini'
        %td
            %table
                %tr
                    %td
                        %ul
                        - @cloud9_customer.non_system_components.each do |comp|
                            %li= "#{comp.product.name}"
    %tr
        %td
            %table
                %caption= "Invoices"
                %tr
                    %th= "Creation Date"
                    %th= "Bill Date"
                    %th= "Total"
                    %th= "Status"
                - @cloud9_customer.active_invoices.each do |inv|
                    %tr
                        %td
                            = link_to inv.created_at.strftime('%c'), check_invoice_path(inv)
                        %td= inv.bill_date.strftime '%c' unless inv.bill_date.blank?
                        %td= format_pennies(inv[:total])
                        %td= inv.workflow_state_to_s.capitalize
        %td
            %table
                %caption= "Billing Cycle"
                %tr
                    %td= "Cycle: #{@cloud9_customer.billing_frequency}"
                %tr
                    %td= "Start: #{@cloud9_customer.billing_date_base.strftime '%x'}"
                %tr
                    %td= "Next: #{@timer} days"
                %tr
                    %td= link_to "Simulate Invoice", simulate_invoice_customer_path(@cloud9_customer), :class => 'btn btn-small'
                %tr
                    %td= link_to "Create Invoice", create_invoice_customer_path(@cloud9_customer), :class => 'btn btn-small'
        %td
            %table
                %caption= "Manage Add Ons"
                %tr
                    %td= link_to "Add Ons", component_customer_path(@cloud9_customer), :class => 'btn btn-small'

