%p#notice= notice

%h3= @cloud9_customer.organization_name

%table.table-bordered.table-hover
    %tr.success
        %td
            %strong= "Contacts"
        %td
            %strong= "Systems"
        %td
            %strong= "Components"
    %tr
        %td
            %table
                %tr
                    %td
                        %ul
                        - @cloud9_customer.contacts.each do |con|
                            %li= con.display_name
        %td
            %table
                %tr
                    %td
                        %ul
                        - @cloud9_customer.systems.each do |sys|
                            %li=link_to sys.vm, system_path(sys), :class => 'btn btn-mini'
        %td
            %table
                %tr
                    %td
                        %ul
                        - @cloud9_customer.non_system_components.each do |comp|
                            %li = "#{comp.product.name}"