.top-message
  - flash.each do |name, msg|
    - if msg.is_a?(String) and name.is_a?(String)
      / Used for setting messages
      %div{class: "alert alert-block fade in alert-#{name == 'notice' ? "success" : name == 'warning' ? "" : "danger"}"}
        %a.close{"data-dismiss" => "alert"} ×
        = content_tag :div, msg, :id => "flash_#{name}"
    - elsif msg.is_a?(String)
      %div{class: "alert alert-#{name == :notice ? "success" : name == :warning ? "" : "danger"}"}
        %a.close{"data-dismiss" => "alert"} ×
        = content_tag :div, msg, :id => "flash_#{name}"
