<!DOCTYPE html>
<html>
<head>
  <title>Cloud9Core</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Cloud9 Automation</a>
    <ul class="nav">
      <li><%=link_to 'Products', products_path %></li>
      <li><%=link_to 'Customers', customers_path %></li>
      <li><%=link_to 'Systems', systems_path %></li>
    </ul>

  </div>
</div>

<%= yield %>

<!--<div id="ember-app"></div>-->

</body>
</html>
